= form_for @dthc do |f|
  - if @dthc.errors.any?
    #error_explanation
      %h2= "#{pluralize(@dthc.errors.count, "error")} prohibited this container_dthc from being saved:"
      %ul
      - @dthc.errors.full_messages.each do |msg|
        %li= msg
        
  .row
    .large-12.columns
      = f.label :line_name, "Line"
      = f.autocomplete_field :line_name, autocomplete_line_name_dthcs_path, :id_element => "#dthc_line_id", :value => @linename, placeholder: "* Line Name"
      = f.hidden_field :line_id
    .large-12.columns
      = f.label :price_cents, "Price"
      = f.text_field :price_cents, placeholder: "Amount"
    .large-12.columns
      = f.label :price_currency, "Currency"
      = f.text_field :price_currency, value: "USD", placeholder: "Currency"
    .large-12.columns
      = f.label :container_tokens, "Contaiers"
      = f.text_field :container_tokens, "data-pre" => @dthc.containers.map(&:attributes).to_json
    .large-12.columns
      = f.label :port_tokens, "Ports"
      = f.text_field :port_tokens, "data-pre" => @dthc.ports.map(&:attributes).to_json

  .actions
  =  f.submit "Add Item", class: "button expand"
