%h1 Listing dthcs
%hr
%table
  %thead
    %tr
      %th Line
      %th Ports
      %th Container
      %th Price
      %th Currency
      %th
      %th
      %th
  %tbody
    - @dthcs.each do |dthc|

      %tr
        %td
          = dthc.line.name if dthc.line.present?
        %td 
          - dthc.ports.each do |port|
            = port.locode
        %td
          - dthc.containers.each do |container|
            = container.code
        %td= dthc.price_cents
        %td= dthc.price_currency
        %td= link_to 'Show', dthc
        %td= link_to 'Edit', edit_dthc_path(dthc)
        %td= link_to 'Destroy', dthc, :method => :delete, :data => { :confirm => 'Are you sure?' }

= link_to 'New Dthc', new_dthc_path, class: "button"
