= notice

%h1 DTHC

%h3
  %strong Line:
  = @linename

%p
  %strong Ports
  - @dthc.ports.each do |port|
    = port.name.to_s

%p
  %strong Container:
  - @dthc.containers.each do |container|
    = container.name.to_s

%p
  %strong Price cents:
  = @dthc.price_cents

%p
  %strong Currency:
  = @dthc.price_currency

%ul.button-group
  %li= link_to 'Edit', edit_dthc_path(@dthc), class: "button tiny"
  %li= link_to 'Back', dthcs_path, class: "button tiny"
