= form_for @dthc_port do |f|
  - if @dthc_port.errors.any?
    #error_explanation
      %h2= "#{pluralize(@dthc_port.errors.count, "error")} prohibited this dthc_port from being saved:"
      %ul
        - @dthc_port.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :port_id
    = f.number_field :port_id
  .field
    = f.label :dthc_id
    = f.number_field :dthc_id
  .actions
    = f.submit 'Save'
