%h1 Listing dthc_ports

%table
  %tr
    %th Port
    %th Dthc
    %th
    %th
    %th

  - @dthc_ports.each do |dthc_port|
    %tr
      %td= dthc_port.port_id
      %td= dthc_port.dthc_id
      %td= link_to 'Show', dthc_port
      %td= link_to 'Edit', edit_dthc_port_path(dthc_port)
      %td= link_to 'Destroy', dthc_port, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Dthc port', new_dthc_port_path
