<p id="notice"><%= notice %></p>

<p>
  <strong>Code:</strong>
  <%= @line.code %>
</p>

<p>
  <strong>Name:</strong>
  <%= @line.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @line.description %>
</p>

<p>
  <strong>Company:</strong>
  <%= @line.company_id %>
</p>

<%= link_to 'Edit', edit_line_path(@line) %> |
<%= link_to 'Back', lines_path %>
