= form_for @container_othc do |f|
  - if @container_othc.errors.any?
    #error_explanation
      %h2= "#{pluralize(@container_othc.errors.count, "error")} prohibited this container_othc from being saved:"
      %ul
        - @container_othc.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :container_id
    = f.number_field :container_id
  .field
    = f.label :othc_id
    = f.number_field :othc_id
  .actions
    = f.submit 'Save'
