%h1 Listing container_othcs

%table
  %tr
    %th Container
    %th Othc
    %th
    %th
    %th

  - @container_othcs.each do |container_othc|
    %tr
      %td= container_othc.container_id
      %td= container_othc.othc_id
      %td= link_to 'Show', container_othc
      %td= link_to 'Edit', edit_container_othc_path(container_othc)
      %td= link_to 'Destroy', container_othc, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Container othc', new_container_othc_path
