%p#notice= notice

%p
  %b Container:
  = @container_othc.container_id
%p
  %b Othc:
  = @container_othc.othc_id

= link_to 'Edit', edit_container_othc_path(@container_othc)
\|
= link_to 'Back', container_othcs_path
