<h1>Listing ports</h1>

<table>
  <thead>
    <tr>
      <th>Locode</th>
      <th>Name</th>
      <th>Subdiv</th>
      <th>Status</th>
      <th>Date</th>
      <th>Coordinate</th>
      <th>Description</th>
      <th>Country</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @ports.each do |port| %>
      <tr>
        <td><%= port.locode %></td>
        <td><%= port.name %></td>
        <td><%= port.subdiv %></td>
        <td><%= port.status %></td>
        <td><%= port.date %></td>
        <td><%= port.coordinate %></td>
        <td><%= port.description %></td>
        <td><%= port.country_id %></td>
        <td><%= link_to 'Show', port %></td>
        <td><%= link_to 'Edit', edit_port_path(port) %></td>
        <td><%= link_to 'Destroy', port, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Port', new_port_path %>
