<p id="notice"><%= notice %></p>

<p>
  <strong>Locode:</strong>
  <%= @port.locode %>
</p>

<p>
  <strong>Name:</strong>
  <%= @port.name %>
</p>

<p>
  <strong>Subdiv:</strong>
  <%= @port.subdiv %>
</p>

<p>
  <strong>Status:</strong>
  <%= @port.status %>
</p>

<p>
  <strong>Date:</strong>
  <%= @port.date %>
</p>

<p>
  <strong>Coordinate:</strong>
  <%= @port.coordinate %>
</p>

<p>
  <strong>Description:</strong>
  <%= @port.description %>
</p>

<p>
  <strong>Country:</strong>
  <%= @port.country_id %>
</p>

<%= link_to 'Edit', edit_port_path(@port) %> |
<%= link_to 'Back', ports_path %>
