= form_for @container_dthc do |f|
  - if @container_dthc.errors.any?
    #error_explanation
      %h2= "#{pluralize(@container_dthc.errors.count, "error")} prohibited this container_dthc from being saved:"
      %ul
        - @container_dthc.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :container_id
    = f.number_field :container_id
  .field
    = f.label :dthc_id
    = f.number_field :dthc_id
  .actions
    = f.submit 'Save'
