%h1 Listing container_dthcs

%table
  %tr
    %th Container
    %th Dthc
    %th
    %th
    %th

  - @container_dthcs.each do |container_dthc|
    %tr
      %td= container_dthc.container_id
      %td= container_dthc.dthc_id
      %td= link_to 'Show', container_dthc
      %td= link_to 'Edit', edit_container_dthc_path(container_dthc)
      %td= link_to 'Destroy', container_dthc, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Container dthc', new_container_dthc_path
