%p#notice= notice

%p
  %b Container:
  = @container_dthc.container_id
%p
  %b Dthc:
  = @container_dthc.dthc_id

= link_to 'Edit', edit_container_dthc_path(@container_dthc)
\|
= link_to 'Back', container_dthcs_path
