<%= form_for(@pol_fesco_int_tariff) do |f| %>
  <% if @pol_fesco_int_tariff.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@pol_fesco_int_tariff.errors.count, "error") %> prohibited this pol_fesco_int_tariff from being saved:</h2>

      <ul>
      <% @pol_fesco_int_tariff.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :port_id %><br>
    <%= f.number_field :port_id %>
  </div>
  <div class="field">
    <%= f.label :fesco_int_tariff_id %><br>
    <%= f.number_field :fesco_int_tariff_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
