<h1>Listing pol_fesco_int_tariffs</h1>

<table>
  <thead>
    <tr>
      <th>Port</th>
      <th>Fesco int tariff</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @pol_fesco_int_tariffs.each do |pol_fesco_int_tariff| %>
      <tr>
        <td><%= pol_fesco_int_tariff.port_id %></td>
        <td><%= pol_fesco_int_tariff.fesco_int_tariff_id %></td>
        <td><%= link_to 'Show', pol_fesco_int_tariff %></td>
        <td><%= link_to 'Edit', edit_pol_fesco_int_tariff_path(pol_fesco_int_tariff) %></td>
        <td><%= link_to 'Destroy', pol_fesco_int_tariff, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Pol fesco int tariff', new_pol_fesco_int_tariff_path %>
