<p id="notice"><%= notice %></p>

<p>
  <strong>Port:</strong>
  <%= @pol_fesco_int_tariff.port_id %>
</p>

<p>
  <strong>Fesco int tariff:</strong>
  <%= @pol_fesco_int_tariff.fesco_int_tariff_id %>
</p>

<%= link_to 'Edit', edit_pol_fesco_int_tariff_path(@pol_fesco_int_tariff) %> |
<%= link_to 'Back', pol_fesco_int_tariffs_path %>
