<%= form_for(@fesco_int_tariff) do |f| %>
<p><% debug params %></p>
  <% if @fesco_int_tariff.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@fesco_int_tariff.errors.count, "error") %> prohibited this fesco_int_tariff from being saved:</h2>

      <ul>
      <% @fesco_int_tariff.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="row">
    <div class="large-12 columns">
      <%= f.autocomplete_field :line_name,
    autocomplete_line_name_fesco_int_tariffs_path, :id_element =>
    "#fesco_int_tariff_line_id", :value => @line %>
      <%= f.hidden_field :line_id, :value => "1" %>
    </div>
  </div>
  <div class="row">
    <div class="large-6 columns">
      <%= f.label :pol_tokens, "Pol" %>
      <%= f.text_field :pol_tokens, "data-pre" => @fesco_int_tariff.pols.map(&:attributes).to_json %>
    </div>
    <div class="large-6 columns">
      <%= f.label :pol_tokens, "Pol" %>
      <%= f.text_field :pod_tokens, "data-pre" => @fesco_int_tariff.pods.map(&:attributes).to_json %>
    </div>
  </div>
  <div class="row">
    <div class="large-12 columns">
      <%= f.label :container_tokens, "Contaiers" %>
      <%= f.text_field :container_tokens, "data-pre" => @fesco_int_tariff.containers.map(&:attributes).to_json %>
    </div>
  </div>
  <div class="row">
    <div class="large-4 columns">
      <%= f.text_field :freight_cents, label: "Freight price", input_html:
  { value: "1000" } %>
    </div>
    <div class="large-4 columns">
      <%= f.text_field :baf_cents, label: "BAF price", input_html: { value:
  "250" } %>
    </div>
    <div class="large-4 columns">
      <%= f.text_field :currency, input_html: { value: "USD" } %>
    </div>
  </div>
  <div class="row">
    <div class="large-2 columns">
      <%= f.text_field :full %>
    </div>
    <div class="large-2 columns">
      <%= f.text_field :coc %>
    </div>
    <div class="large-3 columns">
      <%= f.button :submit %>
    </div>
  </div>


<% end %>




