<div class="row">
  <div class="large-12 columns">
    <h1>Editing "FESCO International Tariff"</h1>
  </div>
</div>
<hr>

<%= render 'form' %>

<div class="row">
  <div class="large-12 columns">
    <%= link_to 'Show', @fesco_int_tariff %> |
    <%= link_to 'Back', fesco_int_tariffs_path %>
  </div>
</div>
