<div class="large12 column">
<h1>Fesco International Tariffs</h1>

<table class="table table-striped">
  <thead>
    <tr>
      <th>POL</th>
      <th>POD</th>
      <th>Freight&nbsp;<%= currency_symbol %></th>
      <th>Baf&nbsp;<%= currency_symbol %></th>
      <th>Full</th>
      <th>Coc</th>
      <th>Container</th>
      <th>Line</th>
      <th>Company</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody class="">
    <% @fesco_int_tariffs.each do |fesco_int_tariff| %>
      <tr>
        <td>
          <% fesco_int_tariff.pols.each do |pol| %>

              <%= link_to pol.name.to_s %>

          <% end %>
          <%= "More" if fesco_int_tariff.pols.size > 3 %>
        </td>
        <td>
          <% fesco_int_tariff.pods.take(3).each do |pod| %>
            <%= link_to pod.name.to_s %>
          <% end %>
          <%= link_to "more", fesco_int_tariff_path(fesco_int_tariff)  if fesco_int_tariff.pods.size > 3 %>
        </td>
        <td><%= humanized_money fesco_int_tariff.freight_cents %></td>
        <td><%= humanized_money fesco_int_tariff.baf_cents %></td>
        <td><%= fesco_int_tariff.full %></td>
        <td><%= fesco_int_tariff.coc %></td>
        <td>
          <% fesco_int_tariff.containers.take(3).each do |container| %>
            <%= container.code.to_s %>
          <% end %>
          <%= link_to "more", fesco_int_tariff_path(fesco_int_tariff)  if fesco_int_tariff.containers.size > 3 %>
        </td>
        <td><%= fesco_int_tariff.line.code if
        fesco_int_tariff.line.present? %></td>
        <td><%= fesco_int_tariff.line.company.code if fesco_int_tariff.line.present?%></td>
        <td><%= link_to 'Show', fesco_int_tariff %></td>
        <td><%= link_to 'Edit', edit_fesco_int_tariff_path(fesco_int_tariff) %></td>
        <td><%= link_to 'Destroy', fesco_int_tariff, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Fesco int tariff', new_fesco_int_tariff_path %>
</div>
