<p id="notice"><%= notice %></p>

<p>
  <strong>Freight cents:</strong>
  <%= @fesco_int_tariff.freight_cents %>
</p>

<p>
  <strong>Baf cents:</strong>
  <%= @fesco_int_tariff.baf_cents %>
</p>

<p>
  <strong>Currency:</strong>
  <%= @fesco_int_tariff.currency %>
</p>

<p>
  <strong>Full:</strong>
  <%= @fesco_int_tariff.full %>
</p>

<p>
  <strong>Coc:</strong>
  <%= @fesco_int_tariff.coc %>
</p>

<p>
  <strong>Container:</strong>
  <%= @fesco_int_tariff.container_ids %>
</p>

<p>
  <strong>Line:</strong>
  <%= @fesco_int_tariff.line.name if @fesco_int_tariff.line.present?%>
</p>

<%= link_to 'Edit', edit_fesco_int_tariff_path(@fesco_int_tariff) %> |
<%= link_to 'Back', fesco_int_tariffs_path %>
