<%= form_for(@tariff) do |f| %>
  <% if @tariff.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@tariff.errors.count, "error") %> prohibited this fesco_int_tariff from being saved:</h2>

      <ul>
      <% @tariff.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="row">
    <div class="large-3 columns">
      <%= f.autocomplete_field :pol_name,
    autocomplete_port_name_tariffs_path, :id_element =>
    "#tariff_pol_id", :value => @pol, :placeholder => '* Port of Loading' %>
      <%= f.hidden_field :pol_id %>
    </div>
    <div class="large-3 columns">
      <%= f.autocomplete_field :pod_name,
    autocomplete_port_name_tariffs_path, :id_element =>
    "#tariff_pod_id", :value => @pod, :placeholder => '* Port of Destination' %>
      <%= f.hidden_field :pod_id %>
    </div>
    <div class="large-2 columns">
      <%= f.autocomplete_field :container_name,
    autocomplete_container_name_tariffs_path, :id_element =>
    "#tariff_container_id", :value => @container, :placeholder =>
    'Container Types' %>
      <%= f.hidden_field :container_id %>
    </div>
    <div class="large-2 columns">
      <%= f.button :submit %>
    </div>

  </div>






<% end %>

