.index
  .company
    .row
      .large-12.columns
        %h3 The best tariffs from the best shipping line
        %ul.medium-block-grid-2.large-block-grid-4
          - @companies.take(4).each do |company|
            %li
              .logo_border
                .logo_wrapper
                  = link_to image_tag(company.logo, width: "300", class: 'logo'), company_path(company.id)
