<h3>Select</h3>

<div class="switch">
  <input id="container-full" name="switch-x" type="radio" checked>
  <label for="x" onclick="">Empty</label>
  <input id="container-empty" name="switch-x" type="radio">
  <label for="x1" onclick="">Full</label>
  <span></span>
</div>

<div class="switch">
  <input id="container-soc" name="switch-soc" type="radio" checked>
  <label for="container-soc" onclick="">SOC</label>
  <input id="container-coc" name="switch-soc" type="radio">
  <label for="container-coc" onclick="">COC</label>
  <span></span>
</div>
<hr>
<form class="custom">
  <h3>Shipping line</h3>
  <label>Check these out</label>
  <% @companies.each do |company| %>
    <div>
      <input id="checkbox<%= company.code %>" type="checkbox"><label for="checkbox<%= company.code %>"><%= company.code %></label>
    </div>
  <% end %>
</form>
<hr>
<a href="#" class="button expand">Search</a>
