%p#notice= notice

%ul.breadcrumbs
  %li= link_to "Home", root_path
  %li= link_to "Select destination", tariffs_path
  %li.current
    %a{href: "#"} Select tariff
%h1
  %small from
  = @tariff.pol.name
  %small= "(#{@tariff.pol.locode}) to "
  = @tariff.pod.name
  %small= "(#{@tariff.pod.locode})"
%h4
  = @container
  = link_to 'Change Search', edit_tariff_path(@tariff)
%hr

.row.show 
  .medium-3.large-3.columns
    .panel
      = render 'tariffs/zaglushka'
  .medium-9.large-9.columns.list
    - @rates.each do |res|
      - rate = res[:rate]
      - othc = res[:othc]
      - dthc = res[:dthc]
      - total = res[:total]
      %hr
      .panel
        .row
          .small-6.large-3.columns
            %h1
              .logo_border
                .logo_wrapper
                  = link_to (image_tag rate.line.company.logo), company_path(rate.line.company.id), class: "radius"
          .small-6.large-3.columns
            %p 
              Company
            %h3
              =rate.line.company.code
          .small-6.large-3.columns
            %p 
              Line
            %h3
              =rate.line.code
          .small-6.large-3.columns
            %p 
              Total Price
            %h3
              = humanized_money_with_symbol total
        .row
          .small-4.large-3.columns
            %p
              From:
              = @tariff.pol.name
          .small-4.large-3.columns
            %p
              To:
              = @tariff.pod.name
          .small-4.large-6.columns
            %p
              Container: 
              - rate.containers.each do |container|
                = container.code 
        .row
          .large-12.columns
            %h5
              = link_to "Details", "#"
        %hr
        .row
          .small-6.large-3.columns
            %p
              OTHC
            %h4
              = humanized_money_with_symbol othc.price_cents if othc.present?
          .small-6.large-3.columns
            %p
              DTHC
            %h4
              = humanized_money_with_symbol dthc.price_cents if dthc.present?
          .small-6.large-3.columns
            %p
              BAF
            %h4
              = humanized_money_with_symbol rate.baf_cents
          .small-6.large-3.columns
            %p
              Freight
            %h4
              = humanized_money_with_symbol rate.freight_cents
