<div class="large-12 list">
  <h1>List of Ship Companies</h1>


  <ul class="list_companies">
    <% @companies.each do |company| %>

      <li class="company clearfix <%= cycle('odd', 'even') %>">
        <div class="logo_border">
          <div class="logo_wrapper">
            <%= link_to image_tag(company.logo, class: 'logo', :width=>
                                  '200'), company %>
          </div>
        </div>
        <div class="name">
          <h3 class="company-name"><%= link_to company.name, company %>
            "<%= link_to company.code, company %>"</h3>

          <p>
            <%= link_to 'Show', company %>
            <%= link_to 'Edit', edit_company_path(company) %>
            <%= link_to 'Destroy', company, method: :delete, data: { confirm: 'Are you sure?' } %>
          </p>
        </div>
      </li>

    <% end %>
  </ul>

  </br>


  <div class="new">
    <%= link_to 'New Company', new_company_path %>
  </div>
</div>
