<div class="row">
  <div class="large-12 columns">
    <p id="notice"><%= notice %></p>
    <div class="list">
      <h1><%= @company.code %></h1>

      <div class="top">
        <div class="logo_border">
          <div class="logo_wrapper">
            <%= link_to image_tag(@company.logo, class: 'logo', :width=>
                                  '200'), @company %>
          </div>
        </div>

        <h3>
          <%= @company.name %>
        </h3>

        <p>
          <b>Website: </b>
          <a href="http://<%= @company.website
                   %>">http://<%= @company.website %></a>
        </p>

      </div>

      <div class="description clearfix">
        <h2>Description:</h2>
        <p>
          <%= strip_tags(@company.description) %>
        </p>
      </div>


      <%= link_to 'Edit', edit_company_path(@company) %> |
      <%= link_to 'Back', companies_path %>
  </div>
  </div>
</div>
