= form_for @othc_port do |f|
  - if @othc_port.errors.any?
    #error_explanation
      %h2= "#{pluralize(@othc_port.errors.count, "error")} prohibited this othc_port from being saved:"
      %ul
        - @othc_port.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :port_id
    = f.number_field :port_id
  .field
    = f.label :othc_id
    = f.number_field :othc_id
  .actions
    = f.submit 'Save'
