%h1 Listing othc_ports

%table
  %tr
    %th Port
    %th Othc
    %th
    %th
    %th

  - @othc_ports.each do |othc_port|
    %tr
      %td= othc_port.port_id
      %td= othc_port.othc_id
      %td= link_to 'Show', othc_port
      %td= link_to 'Edit', edit_othc_port_path(othc_port)
      %td= link_to 'Destroy', othc_port, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Othc port', new_othc_port_path
