%h1 Listing othcs
%hr
%table
  %thead
    %tr
      %th Line
      %th Ports
      %th Container
      %th Price
      %th Currency
      %th
      %th
      %th
  %tbody
    - @othcs.each do |othc|

      %tr
        %td
          = othc.line.name if othc.line.present?
        %td 
          - othc.ports.each do |port|
            = port.locode
        %td
          - othc.containers.each do |container|
            = container.code
        %td= othc.price_cents
        %td= othc.price_currency
        %td= link_to 'Show', othc
        %td= link_to 'Edit', edit_othc_path(othc)
        %td= link_to 'Destroy', othc, :method => :delete, :data => { :confirm => 'Are you sure?' }

= link_to 'New Othc', new_othc_path, class: "button"
