= notice

%h1 OTHC

%h3
  %strong Line:
  = @linename

%p
  %strong Ports
  - @othc.ports.each do |port|
    = port.name.to_s

%p
  %strong Container:
  - @othc.containers.each do |container|
    = container.name.to_s

%p
  %strong Price cents:
  = @othc.price_cents

%p
  %strong Currency:
  = @othc.price_currency

%ul.button-group
  %li= link_to 'Edit', edit_othc_path(@othc), class: "button tiny"
  %li= link_to 'Back', othcs_path, class: "button tiny"
