// Place all the styles related to the Companies controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
/* .companies { */
/*    .logo { */
/*       padding: 2em; */
/*    } */
/* } */


.companies {
   .list {

      
      h1 {
         padding: 0 0 0.5em 0;
         border-bottom: 1px solid;
      }
      ul {
         list-style: none;
         padding: 0;
         clear: both;
      }
      li {
         padding: 1em 1em 2em 1em;
      }
      .odd {
         background: #EEE;
      }
      .logo_border {
         float: left;
         background: none repeat scroll 0 0 #F7F6EC;
         box-shadow: 0 1px 3px #BFB3A3;
         line-height: 98px;
         max-width: 260px;
         min-width: 260px;
         overflow: hidden;
         padding: 5px 5px 0;
         position: relative;
         text-align: center;
         margin: 0em 3em 0em 0em;
      }
      .logo_wrapper {
         background-color: white;
         border: 10px solid #FFFFFF;
      }
      .logo {
         max-height: 100px;
         max-width: 200px;
         vertical-align: middle;
         background-color: white;
         border: 10px solid #FFFFFF;
      }
      .name {
         vertical-align: middle;
         max-height: 200px;
         overflow: hidden;
      }
      .new {
         clear: both;
      }
      .description {
         clear: both;
         margin-top: 80px;
      }
   }
}