// Place all the styles related to the FescoIntTariffs controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.fesco_int_tariffs {
   ul.token-input-list {
      width: 100%;
      height: 2.625em;
      margin: 0 0 1em;
      padding: 0.5em;
   }
   label {
      font-size: 1em;
   }
}