// Place all the styles related to the tariffs controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.tariffs {


   .index {
      .company {
         background: #F5F5F5;
         padding: 2em 0 2em 0;
      }
      .logo_border {
         float: left;
         background: none repeat scroll 0 0 #F7F6EC;
         box-shadow: 0 2px 3px #CCC;
         line-height: 110px;
         max-width: 220px;
         min-width: 220px;
         overflow: hidden;
         padding: 1px 1px 0;
         position: relative;
         text-align: center;
         margin: 0em 3em 0em 0em;
      }
      .logo_border:hover, .logo_border:focus{
         -webkit-box-shadow: 0 0 6px 1px rgba(43, 166, 203, 0.5);
         box-shadow: 0 0 6px 1px rgba(43, 166, 203, 0.5); }
      .logo_wrapper {
         background-color: white;
         border: 10px solid #FFFFFF;
      }
      .logo {
         max-height: 100px;
         max-width: 180px;
         vertical-align: middle;
         background-color: white;
         border: 10px solid #FFFFFF;
      }
   }

   .show {
      .list {
         .logo_border {
            background: none repeat scroll 0 0 #F7F6EC;
            box-shadow: 0 1px 3px #BFB3A3;
            line-height: 58px;
            overflow: hidden;
            padding: 5px 5px 0;
            position: relative;
            text-align: center;
         }
         .logo_wrapper {
            background: #fff;
            padding: 10px;

            a {
            }
            img
            {

            } 
         }
      }
   }
}
