<h1>Listing pod_fesco_int_tariffs</h1>

<table>
  <thead>
    <tr>
      <th>Port</th>
      <th>Fesco int tariff</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @pod_fesco_int_tariffs.each do |pod_fesco_int_tariff| %>
      <tr>
        <td><%= pod_fesco_int_tariff.port_id %></td>
        <td><%= pod_fesco_int_tariff.fesco_int_tariff_id %></td>
        <td><%= link_to 'Show', pod_fesco_int_tariff %></td>
        <td><%= link_to 'Edit', edit_pod_fesco_int_tariff_path(pod_fesco_int_tariff) %></td>
        <td><%= link_to 'Destroy', pod_fesco_int_tariff, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Pod fesco int tariff', new_pod_fesco_int_tariff_path %>
