<p id="notice"><%= notice %></p>

<p>
  <strong>Port:</strong>
  <%= @pod_fesco_int_tariff.port_id %>
</p>

<p>
  <strong>Fesco int tariff:</strong>
  <%= @pod_fesco_int_tariff.fesco_int_tariff_id %>
</p>

<%= link_to 'Edit', edit_pod_fesco_int_tariff_path(@pod_fesco_int_tariff) %> |
<%= link_to 'Back', pod_fesco_int_tariffs_path %>
