%hr
%footer
  .row
    .large-12.columns
      %ul.bottom-menu.inline-list
        %li= link_to "SHIPPER SAVERS", root_path
        %li= link_to"About Project", page_path("about")
        %li= link_to "Pitch", page_path("pitch")
        %li= link_to "Presales", page_path("presales")
      %p.copyright &copy; 2013 SHIPPER SERVICE, All rights reserved.
