%nav.top-bar{ data: { topbar: true}}
  %ul.title-area
    %li.name
      %h1= link_to "SHIPPER SAVERS", root_path
      %li.toggle-topbar.menu-icon
        %a{href: "#"}
          %span Menu

  %section.top-bar-section
    %ul.right
      %li.divider
      %li= link_to"About Project", page_path("about")
      %li.divier
      %li= link_to "Pitch", page_path("pitch")
      %li.divier
      %li.has-dropdown
        %a{href: "#"} Languages
        %ul.dropdown
          %li
            %a{href: "#"} Russian
          %li
            %a{href: "#"} Chinese
          %li
            %a{href: "#"} French
      %li.has-form
        = link_to "PRESALES", page_path("presales"), class: "button"
                    
